# Shared backend base URL for user/project services
VITE_API_BASE_URL=http://localhost:8000

# AI service
VITE_AI_SERVICE_URL=http://127.0.0.1:8123
VITE_RESOURCE_BASE_URL=
# Maps
VITE_AMAP_KEY=
VITE_AMAP_SECURITY_CODE=

# Volc speech
VITE_VOLC_APP_ID=
VITE_VOLC_ACCESS_TOKEN=
VITE_VOLC_SECRET_KEY=
